{% extends 'order/basic.html' %}

{% block title%} Book Now {% endblock %}
{% block bookactive %} active {% endblock bookactive %}

{% block body %}

{% load static %}

<body class="sub_page">


  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Book A Table
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="{% url 'order:book' %}" method="post">
               {% csrf_token %}
              <!-- {{ form.as_p }} -->
              <div>
                <input type="text" name="f_name" class="form-control" placeholder="Your Name" />
              </div>
              <div>
                <input type="text" name="number" class="form-control" placeholder="Phone Number" />
              </div>
              <div>
                <input type="email" name="email" class="form-control" placeholder="Your Email" />
              </div>
              <div>
                <select class="form-control nice-select wide" name="person">
                  <option value="1" disabled selected>
                    How many persons?
                  </option>
                  <option value="2">
                    2
                  </option>
                  <option value="3">
                    3
                  </option>
                  <option value="4">
                    4
                  </option>
                  <option value="5">
                    5
                  </option>
                </select>
              </div>
              
              <div class="mt-2">
                <textarea type="message" name="message" class="form-control mt-3" placeholder="Enter your message here"></textarea>
              </div>

              <div class="btn_box">
                <button type="submit">
                  Book Now
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- footer section -->
 
  <!-- footer section -->

  {% endblock %}

  {% block js %}
  <!-- jQery -->
  
</body>

</html>

{% endblock %}