{% extends 'order/basic.html' %}

{% block title%} Checkout {% endblock %}

{% block body %}

{% load static %}

<body class="sub_page">

  <div class="container">

    <h1 class="my-2">Checkout - Review your cart items </h1>

          
          <div class="shopping-cart">

            <div class="column-labels">
              <label class="product-image">Image</label>
              <label class="product-details">Product</label>
              <label class="product-price">Price</label>
              <label class="product-quantity">Quantity</label>
              <label class="product-line-price">Total</label>
            </div>

            {% for product in cart_items %}

            <div class="product">
              <div class="product-image">
                <img src="{{ product.product.product_img.url }}" alt="{{ product.product.product_name }}">
              </div>
              <div class="product-details">
                <div class="product-title"><h2>{{ product.product.product_name  }}</h2></div>
                <p class="product-description">{{ product.product.product_desc }}</p>
              </div>
              <div class="product-price">{{ product.product.product_price |floatformat:2 }}</div>
              <div class="product-quantity">
                <input type="number" value="{{ product.quantity }}" min="1" class="quantity-input" data-unit-price="{{ product.product.product_price }}" data-product-id="{{ product.product.id }}">
              </div>
              <div class="product-line-price product_qnty" id="specific_product_{{ product.product.id }}">{{ product.get_total_price|floatformat:2 }}</div>
            </div>

            {% endfor %}
            
          
            <div class="totals" data-tax-rate="0.05" data-shipping-cost="{{ shipping_cost }}">
              <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal">{{ subtotal |floatformat:2 }}</div>
              </div>
              <div class="totals-item">
                <label>Tax (5%)</label>
                <div class="totals-value" id="cart-tax">{{ tax|floatformat:2 }}</div>
            </div>
              <div class="totals-item">
                <label>Shipping</label>
                <div class="totals-value" id="cart-shipping">{{ shipping_cost|floatformat:2 }}</div>
              </div>
              <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">{{ grand_total|floatformat:2 }}</div>
            </div>
            </div>

            <h1 class="my-2">Enter Address and other details </h1>

            <form id="checkoutForm" class="row g-3" method="POST">  
              {% csrf_token %}
              <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="inputEmail4">
              </div>
              <div class="col-md-6">
                <label for="inputName" class="form-label">Your Name</label>
                <input type="text" name="name" class="form-control" id="inputName">
              </div>
              <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" name="address" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="col-12">
                <label for="inputAddress2" class="form-label">Address 2</label>
                <input type="text" name="address_location" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div>
              <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input  type="text" name="city" class="form-control" id="inputCity">
              </div>
              <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <input type="text" name="state" class="form-control" id="inputState">
              </div>
              <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" name="zip_code" class="form-control" id="inputZip">
              </div>
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    Check me out
                  </label>
                </div>
              </div>
              <div class="col-12">
                <button type="button" onclick="proceedToPayment()" class="btn btn-primary mb-3"data-toggle="modal" data-target="#paymentModal">
                  Proceed to Payment</button>
              </div>
            </form>
          </div>
  </div>
 <!-- Payment Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="paymentModalLabel">Payment Details</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <!-- Payment fields go here -->
              <form method="POST" action="{% url 'order:checkout' %}">  {% csrf_token %}
                  <div class="form-group">
                      <label for="cardNumber">Card Number</label>
                      <input type="text" class="form-control" id="cardNumber" placeholder="Enter card number">
                  </div>
                  <div class="form-group">
                      <label for="expiryDate">Expiry Date</label>
                      <input type="text" class="form-control" id="expiryDate" placeholder="MM/YYYY">
                  </div>
                  <div class="form-group">
                      <label for="cvv">CVV</label>
                      <input type="text" class="form-control" id="cvv" placeholder="Enter CVV">
                  </div>

                  <!-- Payment method selection -->
                  <div class="form-group">
                    <label>Select Payment Method:</label>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="creditCard" name="payment_method" value="credit_card" class="custom-control-input">
                        <label class="custom-control-label" for="creditCard">Credit Card</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input type="radio" id="debitCard" name="payment_method" value="debit_card" class="custom-control-input">
                        <label class="custom-control-label" for="debitCard">Debit Card</label>
                    </div>
                </div>

                  <button type="submit" class="btn btn-primary">Proceed to Pay</button>
              </form>
          </div>
      </div>
  </div>
</div>


  
{% block css %}
<style>
  
  h1 {
    text-align: center;
  }

  .shopping-cart {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .column-labels {
    display: flex;
    justify-content: space-between;
    width: 109%;
    background-color: #f5f5f5;
    padding: 11px 26px;
    font-weight: bold;
  }

  .product {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }

  .product-image img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
  }

  .product-details {
    flex: 1;
    padding-left: 10px;
    margin-left: 6%;

  }

  .product-price,
  .product-quantity,
  .product-line-price {
    text-align: center;
    margin-right: 5%;
  }

  .product-quantity{
    text-align: center;
    margin-right: 5%;
  }
  
  .product-quantity input {
    width: 40px;
   

  }

  .totals {
    width: 100%;
    margin-top: 20px;
  }

  .totals-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .totals-item label {
    flex: 1;
  }

  
</style>
{% endblock %}
  {% block js %}
  <!-- jQery -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script> 
    document.querySelectorAll(".quantity-input").forEach(function (input) {
      input.addEventListener("change", changeQuantity);
    });
  
    function changeQuantity(event) {
      var input = event.target;
      var quantity = parseInt(input.value);
      var productId = input.dataset.productId;
      var productPrice = parseFloat(input.dataset.unitPrice);
      total = quantity * productPrice;

      
      $('#specific_product_'+productId).text(total.toFixed(2));
      updateSubtotal();
      updateTaxAndGrandTotal();

          $.ajax({
              type: 'POST',
              url: '/order/update_cart/',  
              data: {
                  'product_id': productId,
                  'quantity': quantity,
                  'csrfmiddlewaretoken': '{{ csrf_token }}'
              },
              success: function (data) {
                  return success
              },
              error: function (error) {
                  return error
              }
          });
    
  }

    function updateSubtotal(){
      var subtotal = 0;
      document.querySelectorAll(".product").forEach(function (product) {
        var productQuantity = parseInt(product.querySelector(".quantity-input").value);
        var productPrice = parseFloat(product.querySelector(".product-price").innerText);
        subtotal += productQuantity * productPrice;
    });

   
    $('#cart-subtotal').text(subtotal.toFixed(2));
    }

    function updateTaxAndGrandTotal() {
      var subtotal = parseFloat($('#cart-subtotal').text());   
      var taxRate = parseFloat($('.totals').data('tax-rate'));
      var shippingCost = parseFloat($('.totals').data('shipping-cost'));

        var tax = subtotal * taxRate;
        var grandTotal = subtotal + tax + shippingCost;
        $('#cart-tax').text(tax.toFixed(2));
        $('#cart-total').text(grandTotal.toFixed(2));
    } 
    
    function proceedToPayment() {
   
      
      var formData = {
        email: document.getElementById('inputEmail4').value,
        name: document.getElementById('inputName').value,
        address: document.getElementById('inputAddress').value,
        address_location: document.getElementById('inputAddress2').value,
        city: document.getElementById('inputCity').value,
        state: document.getElementById('inputState').value,
        zip_code: document.getElementById('inputZip').value,
        payment_method: document.querySelector('input[name="payment_method"]:checked') ? document.querySelector('input[name="payment_method"]:checked').value : null
      };
  

      $.ajax({
        type: 'POST',
        url: '{% url "order:checkout" %}',
        data: formData,
        dataType: 'json',  
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        success: function (data) {
          console.log('Data sent successfully:', data);
          window.location.href = '{% url "order:index" %}';
        },
        error: function (error) {
          console.error('Error sending data:', error);
        }
      });
    }
</script>
  {% endblock %}
    
  
  </body>

  </html>
  
  {% endblock %}
  